@use '../base/variables.scss';

.customers {
	background-color: variables.$third-bg-color;

	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 8rem;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: variables.$secondary-bg-color;
		margin-bottom: 0.5rem;
	}

	&__title {
		font-size: 32px;
		font-weight: 400;
		color: variables.$fourth-text-color;
		margin-bottom: 1.5rem;
	}

	&__descr {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.6;
		color: variables.$secondary-bg-color;
		max-width: 400px;
	}

	&__right {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 6rem;
		justify-items: center;
		align-items: center;
	}

	&__right-img {
		width: 140px;
		height: auto;
	}
}

// ! Laptop
@media (max-width: 1024px) {
	.customers {
		&__inner {
			padding: 4rem;
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.customers {
		&__inner {
			padding: 4rem;
		}
		&__subtitle {
			font-size: 12px;
		}
		&__title {
			font-size: 28px;
		}
		&__descr {
			font-size: 13px;
			max-width: 250px;
		}
		&__right {
			grid-gap: 2rem;
			&-img {
				width: 100px;
			}
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.customers {
		&__inner {
			flex-direction: column;
			padding: 3rem 2rem;
			text-align: center;
		}
		&__right {
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			margin-top: 2rem;
			&-img {
				width: 80px;
			}
		}
	}
}
