@use '../base/_variables.scss';

.featured {
	background-color: variables.$fourth-bg-color;
	&__inner {
		padding: 7.06rem 8.5rem;
		text-align: center;
	}
	&__title {
		text-align: left;
		font-size: 39px;
		font-weight: 400;
		color: variables.$primary-text-color;
		margin-bottom: 15px;
	}
	&__subtitle {
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		color: variables.$secondary-text-color;
		max-width: 600px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		margin: 40px 0px;
		gap: 20px;
	}

	&__item {
		position: relative;
		flex: 1;
		overflow: hidden;
		&-img {
			width: 100%;
			height: auto;
			transition: all 0.3s ease-in-out;
			&:hover {
				scale: 1.05;
			}
		}
		&-info {
			position: absolute;
			top: 40px;
			left: 40px;
			text-align: left;
		}
		&-subtitle {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			color: variables.$secondary-text-color;
		}
		&-title {
			font-size: 23px;
			font-weight: 400;
			color: variables.$third-text-color;
		}
		&-btn {
			position: absolute;
			left: 40px;
			bottom: 40px;
			padding: 11px 20px;
			color: variables.$fourth-text-color;
			border: none;
			border-radius: 15px;
			background-color: variables.$button-color;
			transition: 0.5s ease-in-out;
			cursor: pointer;

			&:hover {
				scale: 1.05;
			}
		}
	}
	&__item:not(:nth-child(2)) .featured__item-info {
		display: none;
	}
	&__footer {
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		color: variables.$primary-text-color;
	}
}

@media (max-width: 1024px) {
	.featured {
		&__item {
			&-subtitle {
				font-size: 12px;
			}
			&-title {
				font-size: 18px;
			}
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.featured {
		&__inner {
			padding: 30px;
		}
		&__title {
			font-size: 28px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__footer {
			font-size: 14px;
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.featured {
		&__title {
			text-align: center;
			font-size: 24px;
		}
		&__subtitle {
			text-align: center;
			font-size: 16px;
		}
		&__items {
			flex-direction: column;
			gap: 20px;
		}
		&__item {
			&-btn {
				left: 30%;
			}
		}
	}
}
