@use '../base/variables.scss';

.footer {
	background-color: variables.$primary-bg-color;

	&__inner {
		padding: 3.7rem 8.5rem;
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	&__info {
		flex: 0 1 500px;

		&-descr {
			margin-top: 20px;
			font-size: 14px;
			font-weight: 400;
			color: variables.$secondary-text-color;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 25px;

		i {
			font-size: 24px;
			color: variables.$primary-text-color;
			transition: 0.5s ease-in-out;
			cursor: pointer;

			&:hover {
				scale: 1.05;
			}
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.footer {
		&__inner {
			padding: 4rem 3rem;
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.footer {
		&__inner {
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: 3rem 1.5rem;
		}
	}
}
