@use '../base/variables';

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 300;
	padding: 20px 150px;
	background-color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo img {
		width: 220px;
		height: auto;
	}

	&__menu {
		display: flex;
		align-items: center;
		transition: transform 0.3s ease-in-out;
	}

	&__nav {
		margin-right: 32px;
	}

	&__list {
		display: flex;
		column-gap: 32px;
		list-style: none;
	}

	&__link {
		font-size: 15px;
		color: variables.$primary-text-color;
		font-weight: 400;
		text-decoration: none;
	}

	&__btn {
		background-color: variables.$button-color;
		color: #fff;
		border: none;
		padding: 11px 20px;
		border-radius: 10px;
		cursor: pointer;
		font-size: 16px;
		transition: 0.5s ease-in-out;

		&:hover {
			scale: 1.05;
		}
	}
	&__burger {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		width: 25px;
		height: 19px;
		cursor: pointer;
		position: relative;
		z-index: 200;
		span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: variables.$button-color;
			border-radius: 2px;
			transition: all 0.3s ease;
		}
	}
}

// ! Laptop
@media (max-width: 1024px) {
	.header {
		padding: 20px 80px;
		&__btn {
			font-size: 14px;
			padding: 7px 14px;
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.header {
		padding: 20px 30px;

		&__nav {
			margin-right: 0;
		}

		&__logo img {
			width: 180px;
			height: auto;
		}
		&__menu {
			position: fixed;
			top: 0;
			right: -50%;
			width: 50%;
			height: 100vh;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			transition: right 0.3s ease;
			z-index: 100;
		}

		&__menu.active {
			right: 0;
		}

		&__list {
			flex-direction: column;
			row-gap: 30px;
		}
		&__btn {
			margin-top: 30px;
			font-size: 12px;
			padding: 10px 12px;
		}
		&__burger {
			display: flex;
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.header {
		padding: 20px;

		&__nav {
			margin-right: 0;
		}

		&__menu {
			text-align: center;
			right: -100%;
			width: 100%;
		}
	}
}

// ! Burger Active State
.header__burger.active {
	span:nth-child(1) {
		transform: rotate(45deg) translate(5px, 5px);
	}
	span:nth-child(2) {
		opacity: 0;
	}
	span:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -5px);
	}
}
