@use '../base/variables.scss';

.process {
	background-color: variables.$primary-bg-color;

	&__inner {
		padding: 6.2rem 7.5rem;
		text-align: center;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: variables.$secondary-text-color;
	}

	&__title {
		font-size: 36px;
		font-weight: 400;
		color: variables.$primary-text-color;
	}

	&__items {
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 6rem;
	}

	&__item {
		max-width: 270px;
		text-align: center;
	}

	&__item-img {
		width: 100px;
		max-width: 100%;
	}

	&__item-title {
		margin: 15px 0 10px 0;
		font-size: 18px;
		font-weight: 400;
		color: variables.$third-text-color;
	}

	&__item-descr {
		font-size: 15px;
		font-weight: 400;
		color: variables.$secondary-text-color;
		line-height: 1.6;
	}
}

// ! Laptop
@media (max-width: 1024px) {
	.process {
		&__inner {
			padding: 50px;
		}
		&__title {
			font-size: 25px;
		}
		&__items {
			justify-content: space-evenly;
			gap: 3rem;
		}
		&__item-title {
			margin: 10px 0;
			font-size: 16px;
		}
		&__item-descr {
			font-size: 13px;
			line-height: 1.4;
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.process {
		&__inner {
			padding: 30px;
		}
		&__items {
			margin-top: 20px;
			gap: 1.5rem;
		}
		&__item {
			width: 30%;
		}
		&__item-title {
			margin: 10px 0;
			font-size: 14px;
		}
		&__item-descr {
			font-size: 11px;
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.process {
		&__inner {
			padding: 30px;
		}
		&__subtitle {
			font-size: 12px;
		}
		&__title {
			font-size: 22px;
		}
		&__items {
			flex-direction: column;
			justify-content: center;
		}
		&__item {
			width: 100%;
		}
	}
}
