@use '../base/variables';

.promo {
	background-color: variables.$secondary-bg-color;

	&__inner {
		display: flex;
	}

	&__left {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin: 137px 117px 128px 100px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		color: variables.$secondary-text-color;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&__title {
		font-weight: 400;
		font-size: 64px;
		line-height: 70px;
		color: variables.$primary-text-color;
		margin-bottom: 18px;
	}

	&__descr {
		width: 85%;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: variables.$third-text-color;
		margin-bottom: 30px;
	}

	&__btn {
		font-weight: 400;
		font-size: 16px;
		color: variables.$primary-text-color;
		cursor: pointer;
		text-decoration: none;
	}

	&__right {
		flex: 1;
	}

	&__right-img {
		width: 100%;
		height: 100%;
	}
}

// ! Laptop
@media (max-width: 1024px) {
	.promo {
		&__left {
			margin: 30px 80px;
		}
		&__title {
			font-size: 60px;
			line-height: 60px;
		}
		&__btn {
			font-size: 15px;
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.promo {
		&__left {
			margin: 30px;
		}
		&__subtitle {
			font-size: 12px;
		}
		&__title {
			font-size: 50px;
			line-height: 50px;
		}
		&__descr {
			width: 100%;
			font-size: 14px;
		}
		&__btn {
			font-size: 14px;
		}
	}
}

// ! Phone
@media (max-width: 360px) {
	.promo {
		&__left {
			margin: 20px;
			text-align: center;
		}
		&__title {
			font-size: 40px;
			line-height: 50px;
		}
		&__descr {
			width: 100%;
		}
		&__right {
			display: none;
		}
	}
}
