@use '../base/variables.scss';

.showcase {
	background: url('../img/showcase/showcase.jpg') no-repeat center / cover;
	min-height: 600px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.1);
	}

	&__info {
		position: absolute;
		right: 60px;
		bottom: 40%;
		max-width: 280px;
		z-index: 1;
	}

	&__title {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: variables.$third-text-color;
	}
	&__subtitle {
		font-size: 16px;
		font-weight: 400;
		color: variables.$secondary-text-color;
	}
}

// ! Tablet
@media (max-width: 768px) {
	.showcase {
		&__info {
			right: 30px;
		}
		&__title {
			font-size: 12px;
		}
		&__subtitle {
			font-size: 14px;
		}
	}
}
// ! Phone
@media (max-width: 360px) {
	.showcase {
		&__info {
			right: 0px;
			margin: 30px;
			text-align: center;
		}
	}
}
