@use '../base/variables';

.team {
	background-color: variables.$primary-bg-color;

	&__inner {
		padding: 6.25rem 8.5rem;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		flex: 0 1 350px;

		&-title {
			font-size: 32px;
			font-weight: 400;
			color: variables.$third-text-color;
		}

		&-subtitle {
			margin: 14px 0 30px 0;
			font-size: 15px;
			line-height: 24px;
			color: variables.$secondary-text-color;
		}

		&-btn {
			font-size: 16px;
			font-weight: 400;
			color: variables.$button-color;
			text-decoration: none;
			margin-left: 20px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 115px;
		max-width: 600px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 20px;

		&-info {
			display: flex;
			flex-direction: column;
		}

		&-title {
			font-size: 18px;
			font-weight: 400;
			color: variables.$primary-text-color;
		}

		&-subtitle {
			font-size: 14px;
			font-weight: 400;
			color: variables.$secondary-text-color;
		}
	}

	&__img-wrapper {
		width: 84px;
		height: 84px;
		border-radius: 50%;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

// ! Laptop
@media (max-width: 1024px) {
	.team {
		&__inner {
			padding: 50px;
		}
		&__items {
			gap: 40px 50px;
		}
	}
}

// ! Tablet
@media (max-width: 768px) {
	.team {
		&__inner {
			padding: 30px;
		}
		&__info {
			flex: 0 1 250px;
			&-title {
				font-size: 28px;
			}
			&-subtitle {
				font-size: 14px;
			}
			&-btn {
				font-size: 14px;
			}
		}
		&__items {
			gap: 20px;
		}
		&__item {
			&-title {
				font-size: 16px;
			}
			&-subtitle {
				font-size: 12px;
			}
		}
		&__img-wrapper {
			width: 64px;
			height: 64px;
		}
	}
}

// ! Mobile
@media (max-width: 360px) {
	.team {
		&__inner {
			flex-direction: column;
			gap: 20px;
		}
		&__info {
			flex: 0 1 auto;
			text-align: center;
			&-title {
				font-size: 24px;
			}
			&-subtitle {
				font-size: 13px;
			}
			&-btn {
				font-size: 13px;
				margin-left: 0;
			}
		}
		&__items {
			grid-template-columns: 1fr;
			max-width: 100%;
			gap: 20px;
		}
		&__item {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			gap: 0px;

			&-title {
				font-size: 14px;
			}
			&-subtitle {
				font-size: 11px;
			}
		}
		&__img-wrapper {
			width: 100%;
			height: 100%;
		}
	}
}
