$primary-bg-color: #fff;
$secondary-bg-color: #ece7e4;
$third-bg-color: #403e3b;
$fourth-bg-color: #f7f7f7;
$fifth-bg-color: #cec4bc;
$button-color: #1b1a1a;

$primary-text-color: #1b1a1a;
$secondary-text-color: #645c55;
$third-text-color: #403e3b;
$fourth-text-color: #fff;
